@{
    ViewData["Title"] = "Privacy Policy";
}

@section scripts {
    <script type="text/javascript" src="~/js/Index.js"></script>
}

<h1>@ViewData["Title"]</h1>

<h1>Internship Landpage</h1>
<p>Here is our classroom</p>
<ul id="list">
    @for (var i = 0; i < Model.Members.Count; i++)
    {
        var member = Model.Members[i];

        <li class="member">
            @member
        </li>
}
</ul>

<input id="newcomer" title="Name" type="text" />
<button id="add-btn" class="btn btn-primary">Add new comer</button>
<button id="clear" class="btn btn-secondary"> Clear</button>
<p><img src="/Images/Rules.png" width="200" /></p>