@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h1>Internship Landpage</h1>
<p>Here is our classroom</p>
<ul id="list">
    <li>Borys</li>
    <li>Liova</li>
    <li>Orest</li>
</ul>

<input id="newcomer" title="Name" type="text" />
<button id="add-btn">Add new comer</button>
<script src="/js/default.js"></script>
<p><img src="/Images/Rules.png" width="200" /></p>